@page
@model Tibet.SatinAlma.Pages.Shared.AmirOnayModel
@{
}
<html>
	<head>
		<title>Amir Onay</title>
	</head>
	<body>
		<form>
			<table border="0">
				<legend>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspAmir Bilgileri</legend>
				<tr>
				<td width="130" height="30" align="left">Ad</td>
				<td width="200" height="30" align="left"><input name="" type="text"></td>
			</tr>
				<tr>
				<td width="130" height="30" align="left">Soyad</td>
				<td width="200" height="30" align="left"><input name="" type="text"></td>
			</tr>		
				<tr>
				<td width="130" height="30" align="left">İlgili Birimi:</td>
				<td width="200" height="30" align="left"><input name="" type="text"></td>
			</tr>
			</table>
			<legend>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSipariş Detayı</legend>
			<table border="0">
				<tr>
				<td width="130" height="30" align="left">Sipariş Kodu:</td>
				<td width="200" height="30" align="left"><input name="" type="text"></td>
				<td width="130" height="30" align="left">Ürün Marka:</td>
				<td width="200" height="30" align="left"><input name="" type="text"></td>


			</tr>
			<tr>
				<td width="130" height="30" align="left">Ürün Stok Durumu:</td>
				<td width="200" height="30" align="left"><input name="" type="text"></td>
								<td width="130" height="30" align="left">Talep Edilen Adet:</td>
				<td width="200" height="30" align="left"><input name="" type="text"></td>
			</tr>
			</table>
			<legend>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspİlgili Personel</legend>
			<table border="0">
			<tr>
				<td width="130" height="30" align="left">Ad Soyad:</td>
				<td width="200" height="30" align="left"><input name="" type="text"></td>
			</tr>
			<tr>
				<td width="130" height="30" align="left">Birimi:</td>
				<td width="200" height="30" align="left"><input name="" type="text"></td>
			</tr>
			</table>
			<table>
				<legend>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspGerekçe</legend>
			<tr>
				<td width="130" height="30" align="left">Red Gerekçesi:</td>
				<td width="200" height="30" align="left"><input name="" type="text"></td>
			</tr>
			<button type="button" class="amirOnayKabul">Onay</button>
			<button type="button" class="amirOnayKabulKismen">Kısmen Onay</button>
			<button type="button" class="amirOnayReddet">Reddedildi</button>
			</table>
		</form>
	</body>
</html>
