@page
@model Tibet.SatinAlma.Pages.Shared.BirimlerModel
@{
}
<html>
	<head>
		<title>Birimler</title>
	</head>
	<body>
		<form>
			<legend>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspBirimler</legend>
			<table>
				<tr>
				<td width="130" height="30" align="left">Birim Ad:</td>
				<td width="200" height="30" align="left"><input name="" type="text"></td>
			</tr>
			</table>
		</form>
	</body>
</html>