@page
@model Tibet.SatinAlma.Pages.Shared.PersonellerModel
@{
}
<html>
	<head>
		<title>Personeller</title>
	</head>
	<body>
		<form>
		<legend>&nbsp&nbsp&nbsp&nbspPersonel Bilgileri</legend>
		<table border="0">
			<tr>
				<td width="130" height="30" align="left">Ad:</td>
				<td width="200" height="30" align="left"><input name="" type="text"></td>
			</tr>
			
			<tr>
				<td width="130" height="30" align="left">Soyad:</td>
				<td width="200" height="30" align="left"><input name="" type="text"></td>
			</tr>
			
			<tr>
				<td width="130" height="30" align="left">Çalıştığı Birim:</td>
				<td width="200" height="30" align="left"><input name="" type="text"></td>
			</tr>
			<button type="button" class="personelbutton">Kaydet</button>
			</table>
			</form>
	</body>
</html>
