@page
@model Tibet.SatinAlma.Pages.Shared.TedarikcilerModel
@{
}
<html>
	<head>
		<title>Tedarikçiler</title>
	</head>
	<body>
		<form>
			<legend>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspTedarikçi Bilgileri</legend>
			<table border="0">
				<tr>
					<td width="130" height="30" align="left">Tedarikçi Kodu:</td>
					<td width="200" height="30" align="left"><input name="" type="text" ></td>
				</tr>
				<tr>
					<td width="130" height="30" align="left">Tedarikçi Unvanı:</td>
					<td width="200" height="30" align="left"><input name="" type="text" ></td>
				</tr>
				<tr>
					<td width="130" height="30" align="left">Tedarikçi Adres:</td>
					<td width="300" height="30" align="left"><input name="" type="text" ></td>
				</tr>
			</table>
		</form>
	</body>
</html>
