@page
@model Tibet.SatinAlma.Pages.Shared.teknikSatinAlmaModel
@{
}
<html>
	<head>
		<title>Teknik Satın Alma Formu</title>
	</head>
	<body> @*Hazırlayan,ürün hizmet tanımı, kullanılan yer,tarih*@
		<form>
			<legend>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspTeknik Satın Alma Onay Formu</legend>
		<table border="0">
			<tr>
				<td width="130" height="30" align="left">Hazırlayan:</td>
				<td width="200" height="30" align="left"><input name="" type="text"></td>
			</tr>
				<tr>
				<td width="130" height="30" align="left">Ürün Hizmet Tanımı</td>
				<td width="200" height="30" align="left"><input name="" type="text" /></td>
			</tr>
				<tr>
				<td width="130" height="30" align="left">Kullanılan Yer:</td>
				<td width="200" height="30" align="left" ><input name="" type="text" /></td>
			</tr>
				<tr>
				<td width="130" height="30" align="left">Tarih</td>
				<td width="200" height="30" align="left"><input name="" type="date"/></td>
			</tr>
		</table>
		
		<legend>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspTeklif Detayları</legend>
		<table>
			
			<tr><td>Teklif Alınan Firmalar:</td></><td><input type="text" /></td></tr>
			<tr><td>Ürün/Marka: </td><td><input type="text" /></td></tr>
		</table>
				<legend>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspTeklifler</legend>
		<table>
			<tr><td>Teklif(1)</td><td><input type="text" /></td></tr>
			<tr><td>Teklif(2) </td><td><input type="text" /></td></tr>
			<tr><td>Teklif(3)</td><td><input type="text" /></td></tr>
			<tr><td>Teklif(4)</td><td><input type="text" /></td></tr>
		</table>
		<legend>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSipariş Detay</legend>
		<table>
			<tr><td>Ödeme Şekli:</td><td><input type="text" /></td></tr>
			<tr><td>Sipariş Kararı:</td><td><input type="text" /></td></tr>
			<tr><td>Teslim Tarihi:</td><td><input type="date" /></td></tr>
			
			<tr><td>
				

				<button type="button" class="btnTeknikSatinAlma">Onay</button>
			

			</td></tr>
			
		</table>
		</form>
	</body>
</html>
