@page
@model Tibet.SatinAlma.Pages.Shared.UstAmirOnayModel
@{
}
<html>
	<head>
		<title>Üst Amir Onayı</title>
	</head>
	<body>
		<form>
			<legend>&nbsp&nbsp&nbsp&nbspOnaylayan Amir Bilgileri</legend>
			<table border="0">
			<tr>
				<td width="130" height="30" align="left">Ad:</td>
				<td width="200" height="30" align="left"><input name="" type="text"></td>
				<td width="130" height="30" align="left">Soyad:</td>
				<td width="200" height="30" align="left"><input name="" type="text"></td>
			</tr>
			<tr>
				<td width="130" height="30" align="left">Birimi:</td>
				<td width="200" height="30" align="left"><input name="" type="text"></td>
			</tr>
			</table>
			<table>
			<legend>&nbsp&nbsp&nbsp&nbspSipariş Bilgileri</legend>
				<td width="130" height="30" align="left">Ürün Kodu:</td>
				<td width="200" height="30" align="left"><input name="" type="text"></td>
				<td width="130" height="30" align="left">Sipariş Kodu:</td>
				<td width="200" height="30" align="left"><input name="" type="text"></td>
			</table>
			<table>
				<legend>&nbsp&nbsp&nbsp&nbspStok Bilgileri</legend>
				<tr>
				<td width="130" height="30" align="left">Stok Durumu:</td>
				<td width="200" height="30" align="left"><input name="" type="text"></td>
				</tr>
				<tr>
				<td width="130" height="30" align="left">Talep Edilen:</td>
				<td width="200" height="30" align="left"><input name="" type="text"></td>
				</tr>
				<tr>
				<td width="130" height="30" align="left">Birim Satış Fiyatı:</td>
				<td width="200" height="30" align="left"><input name="" type="text"></td>
			</tr>
			</table>
			<table>
				<legend>&nbsp&nbsp&nbsp&nbspTeklif Bilgileri</legend>
			<tr>
				<td width="130" height="30" align="left">Teklif Alınan Firma:</td>
				<td width="200" height="30" align="left"><input name="" type="text"></td>
			</tr>
						<tr>
				<td width="130" height="30" align="left">Teklif(1):</td>
				<td width="200" height="30" align="left"><input name="" type="text"></td>
			</tr>
						<tr>
				<td width="130" height="30" align="left">Teklif(2):</td>
				<td width="200" height="30" align="left"><input name="" type="text"></td>
			</tr>
						<tr>
				<td width="130" height="30" align="left">Teklif(3):</td>
				<td width="200" height="30" align="left"><input name="" type="text"></td>
			</tr>
						<tr>
				<td width="130" height="30" align="left">Teklif(4):</td>
				<td width="200" height="30" align="left"><input name="" type="text"></td>
			</tr>
						<tr>
				<td width="130" height="30" align="left">Teklif(5):</td>
				<td width="200" height="30" align="left"><input name="" type="text"></td>
			</tr>
			<button type="button" class="ustAmirOnay">Onayla</button>
			</table>
		</form>
	</body>
</html>